a{
    color: black;
    text-decoration: none;
}
div.header_wrap{
    width: 100%;
    height: 140px;
    position: absolute;
    left: 0px;
    top: 30px;
    z-index: 999;
    border-bottom: solid 1px #B3B3B3;
}
header{
    width: 1200px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    top: 0px;
}
div.top_header{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}
ul.top_header_list{
    width: 100%;
    height: 100%;
}
ul.top_header_list li:nth-child(1){
    width: 14.83%;
    margin-right: 10.16%;
}
ul.top_header_list li:nth-child(2){
    width: 50%;
    margin-right: 9.75%;
    position: relative;
    left: 0px;
    top: 3px;
}
ul.top_header_list li:nth-child(3){
    font: bold 14px 'Noto Sans KR';
    width: 15.25%;
    position: relative;
    left: 0px;
    top: 15px;
}
ul.top_header_list li{
    float: left;
}
ul.top_header_list li img{
    width: 178px;
    height: 50px;
}
ul.top_header_list li input{
    width: 100%;
    height: 40px;
    text-indent: 20px;
    font: normal 14px 'Noto Sans KR';
    border-radius: 30px;
    border: solid 1px #B3B3B3;
}
span.search_icon{
    font-size: 28px;
    position: absolute;
    right: 10px;
    top: 8px;
}
span.link_icon{
    margin-left: 5px;
}
div.bottom_header{
    width: 100%;
    height: 40px; /*450px*/
    position: relative;
    left: 0px;
    bottom: 0px;
}
div.mainmenu{
    width: 55%;
    height: 100%;
    float: left;
    margin-right: 24%;
}
p.menu_icon{
    width: 14px;
    height: 100%;
    float: left;
    margin-right: 30px;
    line-height: 40px;
    font: normal 20px/44px 'Noto Sans KR';
}
ul.mainmenu_list{
    width: 100%;
    height: 100%;
}
ul.mainmenu_list>li{
    width: 80px;
    height: 100%;
    float: left;
    margin-right: 30px;
    font: normal 16px/40px 'Noto Sans KR';
    position: relative;
    left: 0px;
    top: 0px;
}
ul.mainmenu_list>li.selected a{
    color: #009CF1;
}

ul.mainmenu_list>li.selected ul.submenu_list{
    height: 410px;
    opacity: 1;
}


ul.mainmenu_list>li:nth-child(3){
    width: 120px;
}
ul.mainmenu_list>li:last-child{
    margin-right: 0px;
}
ul.submenu_list{
    width: 160px;
    height: 0px; /*410px*/
    border-radius: 15px;
    background: #009CF1;
    position: absolute;
    left: 0px;
    top: 40px;
    overflow: hidden;
    opacity: 0;
    transition: 0.7s ease-out;
}
ul.submenu_list>li{
    width: 100%;
    height: 40px;
    font: bold 12px/40px 'Noto Sans KR';
    text-indent: 10px;
    color: #ffffff;
}
ul.submenu_list>li:hover{
    color: #000000;
    background: white;
}
div.loginmenu{
    width: 21%;
    height: 100%;
    float: left;
}
ul.loginmenu_list{
    width: 100%;
    height: 100%;
}
ul.loginmenu_list li{
    float: left;
    margin-right: 40px;
    font: normal 14px/20px 'Noto Sans KR';
    position: relative;
    right: 0px;
    top: 0px;
}
ul.loginmenu_list li::after{
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background: black;
    position: absolute;
    right: -20px;
    top: 0px;
}
ul.loginmenu_list li:last-child{
    margin-right: 0px;
}
ul.loginmenu_list li:last-child::after{
    background: none;
}
span.basket_circle{
    width: 14px;
    height: 14px;
    background: #009CF1;
    border-radius: 100%;
    font: normal 12px/14px 'Noto Sans KR';
    text-align: center;
    color: white;
    position: absolute;
    right: -16px;
    top: 3px;
}