div.random_wrap{
    width: 100%;
    height: 162px;
    margin-top: 80px;
}
div.random{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    left: 0px;
    top: 0px;
}
ul.random_list li{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
div.random_wrap img{
    width: 100%;
    height: 162px;
}